# Basic .gitattributes for a R repo.

# Source files
# ============
*.Rdata binary
*.RData binary
*.rda   binary
*.rdb   binary
*.rds   binary
*.Rd    text
*.Rdx   binary
*.Rmd	  text
*.R  	  text
*.Rproj text
*.[Rr]md   linguist-detectable

# Linguist detectability
# ============
*.html linguist-detectable=false
*.lua linguist-detectable=false
*.json linguist-detectable=false
*.bib linguist-detectable=false
*.csl linguist-detectable=false
*.tex linguist-detectable=false

*.Rmd linguist-language=R
*.nb.html linguist-vendored
